In [17]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('/media/manu/Data/PycharmProjects/thesis/data/generated/' + 
                 '22_06_22_23_33_22_transpose_all_chord_extended_7_batchsize_128_seed_1234567890/' +
                 '22_06_24_16_03_49 Autumn Leaves.csv',index_col=0)

In [10]:
df['measure'] = (df['ticks'] // 48).astype('int')
df = df.rename({
    'improvised_pitch': 'pitch',
    'improvised_attack': 'attack'
}, axis=1)
df['offset'] = df['offset'].astype('int')
df['ticks'] = df['ticks'].astype('int')

# df['duration'] = df['duration'].astype('int')
# df['pitch'] = df['pitch'].replace(np.nan, -1).astype('int')

In [72]:
df.iloc[55:75]

    offset  pitch  attack chord_name  ticks  measure
55       7    NaN     NaN         F7     55        1
56       8    NaN     NaN         F7     56        1
57       9    NaN     NaN         F7     57        1
58      10   65.0     1.0         F7     58        1
59      11   65.0     0.0         F7     59        1
60      12   65.0     0.0         F7     60        1
61      13   65.0     0.0         F7     61        1
62      14   65.0     0.0         F7     62        1
63      15   65.0     0.0         F7     63        1
64      16   65.0     0.0         F7     64        1
65      17   65.0     0.0         F7     65        1
66      18   65.0     0.0         F7     66        1
67      19   65.0     0.0         F7     67        1
68      20   65.0     0.0         F7     68        1
69      21    NaN     NaN         F7     69        1
70      22    NaN     NaN         F7     70        1
71      23    NaN     NaN         F7     71        1
72      24    NaN     NaN         F7     72        1
73      25    NaN     NaN         F7     73        1
74      26   67.0     1.0         F7     74        1

In [84]:
tsd

     offset  pitch  duration chord_name
0         0    NaN        59      Cmin7
1        10   65.0        11         F7
2        21    NaN         5         F7
3        26   67.0         5         F7
4        31    NaN         5         F7
..      ...    ...       ...        ...
121      26   70.0         5      D7b13
122      31    NaN         7      D7b13
123      38   62.0         6      D7b13
124      44    NaN         2      D7b13
125      46   67.0        53      D7b13

[126 rows x 4 columns]